body{
    background-color: #EEEEEE;
}
.tableheading{
   background-color: #FFFFFF;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
#search{
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
}